/web/bbs/data/template
/web/bbs/data/cache
/web/bbs/data/backup_27efd6/140502_QuCK0Wap-1.sql
/web/bbs/data/backup_27efd6
/web/bbs/uc_server/data/logs
/web/bbs/uc_server/data/view
/web/bbs/data/diy/template/default/group/index.htm.bak
