<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="信驴，助你周游世界">
    <meta name="author" content="canyouhike.com">

    <title>信驴，助你周游世界</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.css" rel="stylesheet"> -->
    <css href="__PUBLIC__/css/bootstrap.css" />
    <!-- <css href="__PUBLIC__/dist/style/base.css"/> -->
    <!-- <css href="__PUBLIC__/dist/style/lib.css"/> -->

    <!-- Custom styles for this template -->
    <css href="__PUBLIC__/css/temporary.css" />
    
    <!--因含有jquery，所以得放前面-->
    <js href="__PUBLIC__/dist/js/lib.js" />
    <!-- <js href="__PUBLIC__/dist/js/base.js" /> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {:$Think.CONTROLLER_NAME === 'Index' ? 'class="active"' : ''}><a href="{:U('Index/index')}">首页</a></li>
            <li {:$Think.CONTROLLER_NAME === 'Group' ? 'class="active"' : ''}><a href="{:U('Group/index')}">信驴圈</a></li>
            <li {:$Think.CONTROLLER_NAME === 'Place' ? 'class="active"' : ''}><a href="{:U('Place/index')}">目的地</a></li>
            <li {:$Think.CONTROLLER_NAME === 'Plan' ? 'class="active"' : ''}><a href="{:U('Plan/index')}">行程准备</a></li>
            <li {:$Think.CONTROLLER_NAME === 'Safety' ? 'class="active"' : ''}><a href="{:U('Safety/index')}">安全</a></li>
            <li {:$Think.CONTROLLER_NAME === 'MobileOffice' ? 'class="active"' : ''}><a href="{:U('MobileOffice/index')}">移动办公</a></li>
            <li><a href="http://bbs.canyouhike.com">社区</a></li>
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">登录</a></li>
            <!-- <li class="active"><a href="./">Static top</a></li> -->
            <!-- <li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="wrap">


