<!--{subtemplate common/header_common}-->
<meta name="application-name" content="$_G['setting']['bbname']" />
<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
<!--{if $_G['setting']['portalstatus']}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" />
<!--{/if}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
<!--{if $_G['setting']['groupstatus']}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" />
<!--{/if}-->
<!--{if helper_access::check_module('feed')}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" />
<!--{/if}-->
<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
<!--{/if}-->
<!--{if !empty($rsshead)}-->
$rsshead
<!--{/if}-->
<!--{if widthauto()}-->

<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
<link rel="stylesheet" id="css_my" type="text/css" href="data/cache/style_{STYLEID}_my.css?{VERHASH}" />
<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
<!--{/if}-->
<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'portal'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
<!--{/if}-->
<link rel="stylesheet" type="text/css" href="template/win8mi_third_mofang3/src/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="template/win8mi_third_mofang3/common/my.css" media="all">
</head><body id="nv_{$_G[basescript]}" class="pg_{CURMODULE}{if $_G['basescript'] === 'portal' && CURMODULE === 'list' && !empty($cat)} {$cat['bodycss']}{/if}" onkeydown="if(event.keyCode==27) return false;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}--> 
<!--{template common/header_diy}--> 
<!--{/if}--> 
<!--{if check_diy_perm($topic)}--> 
<!--{block diynav}--> 
<a href="javascript:saveUserdata('diy_advance_mode', '');openDiy();">DIY</a> 
<!--{/block}--> 
<!--{/if}--> 
<!--{if CURMODULE == 'topic' && $topic && empty($topic['useheader']) && check_diy_perm($topic)}--> 
$diynav 
<!--{/if}--> 
<!--{if empty($topic) || $topic['useheader']}--> 
<!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['diy'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
<div class="xi1 bm bm_c"> {lang your_mobile_browser}<a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a> <span class="xg1">|</span> <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a></div>
<!--{/if}-->
<div id="toptb" class="cl"> 
    <!--{hook/global_cpnav_top}-->
    <div class="wp cl">
    <div class="z" style="_width: 300px;">
       <a class="topphone" href="#">手机版</a>
       <a class="topsina" href="#">官方微博</a>
    </div>
        <!-- Block user information module HEADER --> 
    <!--{if $_G['uid']}-->
    <div id="header_user">
      <ul id="header_nav">
        <li id="shopping_cart"> <span><a href="home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center} 
          <!--{if $_G[member][newpm]}--> 
          ({$_G[member][newpm]}) 
          <!--{/if}--> 
          </a></span>
          <div  id="newprompter" style="float: left;"><span><a href="home.php?mod=space&do=notice" id="myprompt"{if $_G[member][newprompt]} class="new"{/if}>{lang remind} 
            <!--{if $_G[member][newprompt]}--> 
            ($_G[member][newprompt]) 
            <!--{/if}--> 
            </a></span></div>
          <!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--> 
          <span><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a></span> 
          <!--{/if}--> 
          <span class="avatarimg" style="padding-right: 7px; background: url(template/win8mi_third_mofang3/src/img/ardown.png) no-repeat 45px center;"> <a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}" id="umnav" class="username" onMouseOver="showMenu({'ctrlid':this.id,'ctrlclass':'a'})"> 
          <!--{avatar($_G[uid],small)}--> 
          </a></span></li>
      </ul>
    </div>
    <!--{elseif !empty($_G['cookie']['loginuser'])}-->
    <div id="header_user">
      <ul id="header_nav">
        <li id="shopping_cart"> <span><a id="loginuser" class="username"> 
          <!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--> 
          </a></span> <span><a href="member.php?mod=logging&action=login" onClick="showWindow('login', this.href)">{lang activation}</a></span> <span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a></span> </li>
      </ul>
    </div>
    <!--{elseif !$_G[connectguest]}-->
    <div id="header_user">
      <ul id="header_nav">
        <li class="login_list"><a class="login_block" href="#" style="padding-right: 0;">投稿</a></li>
        <li class="login_list" style="_width: 65px;"><a class="login_block"  href="member.php?mod=register" class="btn-register">免费注册</a></li>
        <li class="login_list" style="_width: 40px;"><a class="login_block"  href="javascript:;" onClick="javascript:lsSubmit();" class="nousername">登录</a></li>
      </ul>
    </div>
    <div style="display:none"> 
      <!--{template member/login_simple}--> 
    </div>
    <!--{else}-->
    <div id="header_user">
      <ul id="header_nav">
        <li id="shopping_cart"> <span><a href="home.php?mod=spacecp&ac=usergroup" class="nousername">{$_G[member][username]}</a></span> <span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a></span> </li>
      </ul>
    </div>
    <!--{/if}--> 
    <!-- /Block user information module HEADER -->
    <ul id="umnav_menu" class="p_pop nav_pop" style="display: none;">
      <!--{loop $_G['setting']['mynavs'] $nav}--> 
      <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}--> 
      {eval $nav[code] = str_replace('style="', '_style="', $nav[code]);}
      <li>$nav[code]</li>
      <!--{/if}--> 
      <!--{/loop}--> 
      <!--{hook/global_usernav_extra3}-->
      <li><a href="home.php?mod=spacecp">{lang setup}</a></li>
      <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
      <li><a href="portal.php?mod=portalcp"> 
        <!--{if $_G['setting']['portalstatus'] }--> 
        {lang portal_manage} 
        <!--{else}--> 
        {lang portal_block_manage} 
        <!--{/if}--> 
        </a></li>
      <!--{/if}--> 
      <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
      <li><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a></li>
      <!--{/if}--> 
      <!--{if $_G['uid'] && $_G['adminid'] == 1 && $_G['setting']['cloud_status']}-->
      <li><a href="admin.php?frames=yes&action=cloud&operation=applist" target="_blank">{lang cloudcp}</a></li>
      <!--{/if}--> 
      <!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
      <li><a href="admin.php" target="_blank">{lang admincp}</a></li>
      <!--{/if}--> 
      <!--{if check_diy_perm($topic)}-->
      <li>$diynav</li>
      <!--{/if}--> 
      <!--{hook/global_usernav_extra4}-->
      <li><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a></li>
    </ul>
    </div>
</div>
</div>
<div class="headerbox">
  <div class="cl s_header">
    <div class="logo">
      <h1> 
        <!--{if !isset($_G['setting']['navlogos'][$mnid])}--> 
        <a href="./" title="$_G['setting']['bbname']">{$_G['style']['boardlogo']}</a> 
        <!--{else}--> 
        $_G['setting']['navlogos'][$mnid] 
        <!--{/if}--> 
      </h1>
    </div>
    <div class="headerwidget y"> 
      <!--{subtemplate common/pubsearchform}--> 
    </div>
  </div>
</div>
<div class="nvframe">
  <div class="nvbox">
    <div id="headnav" class="nav_box">
      <div class="nav cl"> 
        <!--Start Navigation--> 
        <!--{eval $mnid = getcurrentnav();}-->
        <ul id="menu-main-nav-menu" class="sf-menu sf-js-enabled sf-shadow">
          <!--{loop $_G['setting']['navs'] $nav}--> 
          <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
          <li {if $mnid == $nav[navid]}class="active" {/if}$nav[nav]></li>
          <!--{/if}--> 
          <!--{/loop}-->
        </ul>
        <div class="win8miforum">
  <div class="" id="win8miforuminfo"> <a href="#" target="_blank">导航<!--{eval getcurrentnav();}--></a> </div>
  <div style="display: none;" id="win8miforumcontent">
    <dl>
      <dt><a href="forum.php" target="_blank">论坛</a></dt>
      <dd> <a href="#" target="_blank">长假远行</a><span>|</span><a href="#" target="_blank">异域之旅</a><span>|</span><a href="#" target="_blank">自驾之路</a><span>|</span><a href="#" target="_blank">驴光掠影</a><span>|</span><a href="#" target="_blank">装备论坛</a><span>|</span><a href="#" target="_blank">山野</a><span>|</span><a href="#" target="_blank">自行车</a><span>|</span><a href="#" target="_blank">越跑越野</a><span>|</span><a href="#" target="_blank">溪涧运动</a><span>|</span><a href="#" target="_blank">休闲</a><span>|</span><a href="#" target="_blank">游泳</a><span>|</span><a href="#" target="_blank">高寒地带</a>
        <div class="clear"></div>
      </dd>
      <div class="clear"></div>
    </dl>
    <dl>
      <dt><a href="#" target="_blank">城市</a></dt>
      <dd> <a href="#" target="_blank">深圳</a><span>|</span><a href="#" target="_blank">广州</a><span>|</span><a href="#" target="_blank">东莞</a><span>|</span><a href="#" target="_blank">上海</a><span>|</span><a href="#" target="_blank">北京</a><span>|</span><a href="#" target="_blank">惠州</a><span>|</span><a href="#" target="_blank">佛山</a><span>|</span><a href="#" target="_blank">更多城市...</a>
        <div class="clear"></div>
      </dd>
      <div class="clear"></div>
    </dl>
    <dl style="border-bottom: 0;">
      <dt><a href="#" target="_blank">专题</a></dt>
      <dd> <a href="#" target="_blank">安全回家</a><span>|</span><a href="#" target="_blank">磨房公益</a><span>|</span><a href="#" target="_blank">磨房茶舍</a><span>|</span><a href="#" target="_blank">与食巨近</a><span>|</span><a href="#" target="_blank">磨房200km骑行</a><span>|</span><a href="#" target="_blank">河源40公里</a><span>|</span><a href="#" target="_blank">杭州50公里</a><span>|</span><a href="#" target="_blank">红牛赠饮申请</a><span>|</span><a href="#" target="_blank">摄影记录</a><span>|</span><a href="#" target="_blank">ispo</a>
        <div class="clear"></div>
      </dd>
      <div class="clear"></div>
    </dl>
  </div>
  <script type="text/javascript">
  jQuery.noConflict();
                                jQuery("#win8miforuminfo").hover(
                                    function(){
                                        jQuery(this).siblings("#win8miforumcontent,.cover").show();
                                        },
                                    function(){
                                        jQuery(this).siblings("#win8miforumcontent,.cover").hide();
                                        })
                                jQuery("#win8miforumcontent").hover(
                                    function(){
                                        jQuery(this).show();
                                        jQuery(this).siblings("#win8miforuminfo").addClass("current");
                                        },
                                    function(){
                                        jQuery(this).hide();
                                        jQuery(this).siblings("#win8miforuminfo").removeClass("current");
                                        })
                            </script>
  <div class="clear"></div>
</div>
      </div>
      
      <!--End Navigation--> 
      <!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
      <ul class="p_pop h_pop" id="plugin_menu" style="display: none">
        <!--{loop $_G['setting']['plugins']['jsmenu'] $module}--> 
        <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
        <li>$module[url]</li>
        <!--{/if}--> 
        <!--{/loop}-->
      </ul>
      <!--{/if}--> 
      $_G[setting][menunavs]
      <div id="mu" class="cl"> 
        <!--{if $_G['setting']['subnavs']}--> 
        <!--{loop $_G[setting][subnavs] $navid $subnav}--> 
        <!--{if $_G['setting']['navsubhover'] || $mnid == $navid}-->
        <ul class="cl {if $mnid == $navid}current{/if}" id="snav_$navid" style="display:{if $mnid != $navid}none{/if}">
          $subnav
        </ul>
        <!--{/if}--> 
        <!--{/loop}--> 
        <!--{/if}--> 
      </div>
      <!--{ad/subnavbanner/a_mu}--> 
      <!--{hook/global_header}--> 
    </div>
    <div class="cl"></div>
  </div>
</div>
<!--{/if}-->
<div class="bodybg cl">
<div id="wp" class="wp cl">
